@import url('https://fonts.googleapis.com/css2?family=Anton&family=Berkshire+Swash&family=Big+Shoulders+Inline:opsz,wght@10..72,100..900&family=Dancing+Script:wght@400..700&family=Sofia&display=swap');

body {
  font-family: 'Bradley Hand';
}

img {
  border-radius: 80%;
  border: 4px dotted white;
  width: 80%;
}

  
.precoserviços {
  text-align: center;
  font-weight: bold;
  color: #150730;
}


a {
  color: rgb(255, 255, 255);
}



/* Classes */

.redes-sociais {
  padding: 10px;
  text-align: right;
}

.redes-sociais a {
  margin-left: 10px;
  font-size: 20px;
  color: #5c5151;
  text-decoration: none;
}

.redes-sociais a:visited {
  color: #555;
}

.redes-sociais a:hover {
  color: #ff6600;
}

.redes-sociais a:active {
  color: #ff0000;
}

.foto-e-nome {
  padding: 170px;
  text-align:center;
  font-family: 'Bradley Hand';
  color: rgb(244, 248, 4);
}

.marquee {
  font-family: 'Chalkduster';
  font-size: 40px;
  color: white;
  width: 100%;
  background: linear-gradient(45deg, rgb(86, 85, 87), rgb(120, 117, 118));
}

.ordenadaAlfa {
  list-style-type: lower-alpha;
}

.ordenadaRomana {
  list-style-type: lower-roman;
}

.NOrdenQuadrada {
  list-style-type: square;
}

.NOrdenAberta {
  list-style-type: circle;
}

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.conteudo {
  display: flex;
  justify-content: space-between;
}

.texto-principal {
  width: 70%;
  padding: 20px;
  background-color: orange;
}

.menu-lateral {
  width: 15%;
  padding: 20px;
  background-color: purple;
}

.rodape {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  position: relative;
  width: 100%;
}

.rodape a {
  color: lightgrey;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.rodape a:visited {
  color: DarkTurquoise;
}

.rodape a:hover {
  color: orange;
}

.rodape a:active {
  color: darkgrey;
}